* {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  font-weight: bold;
}

body {
  background-color: #ffefcd;
}
.header {
  background-color: #556b2f;
  padding: 20px;
  margin-bottom: 40px;
  color: #fffacd;
  font-weight: bold;
  font-size: 20px;
}

.title-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title-container img {
  margin-top: 20px;
  height: 300px;
  margin-bottom: 20px;
}

#recipe-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}

.recipe-card {
  display: grid;
  color: #fffacd;
  background-color: #8b7355;
  border-radius: 12px;
  height: 300px;
  width: 300px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.recipe-info {
  display: flex;
  flex-direction: column;
  background-color: #ffffffb4;
  max-width: fit-content;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 6px 4px 6px 4px rgba(0, 0, 0, 0.36);
}

.recipe-info li {
  padding-bottom: 10px;
  font-size: 18px;
}
