* {
  margin: 0 auto;
  font-family: Roboto, serif;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #1f2937;
  font-size: 12px;
  color: #f9faf8;
}

.nav-bar p {
  font-size: 18px;
  color: #e5e7eb;
}

.nav-links {
  display: flex;
  flex-direciton: row;
  justify-content: space-around;
  width: 500px;
}

.nav-links p {
  color: #ebe5e7c0;
}

.hero {
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 500px;
}

.hero-text h1 {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
  padding-bottom: 20px;
}

.hero-text h3 {
  font-size: 18px;
  color: #ebe5e7c0;
  padding-bottom: 20px;
}

.hero-text button {
  width: 100px;
  height: 30px;
  font-size: 14px;
  background-color: #3882f6;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 12px;
}

.hero-img {
  background-color: #f9faf8a1;
  height: 400px;
  width: 400px;
}

.random-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
}

.random-info h1 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.info-container {
  display: flex;
  flex-direction: row;
  height: 200px;
  justify-content: space-between;
  width: 100%;
  flex: 1;
  flex-wrap: wrap;
}

.info-element {
  display: flex;
  flex-direction: column;

  height: max-content;
}

.info-element h3 {
  color: #6c6d6bf6;
}

.quote-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e5e7eb;
  height: 500px;
}

.quote-section p {
  font-weight: 300;
  color: #1f2937;
  font-size: 36px;
}

.CTA {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  color: white;
}

.CTA-text h2 {
  font-size: 30px;
  font-weight: bold;
}

.CTA-text h3 {
  font-size: 14px;
}

.CTA-container {
  background-color: #3882f6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 25%;
  border-radius: 12px;
}

.CTA-button {
  display: flex;
}

.CTA-button button {
  width: 100px;
  height: 30px;
  font-size: 14px;
  background-color: #3882f6;
  color: white;
  border: white 2px solid;
  font-weight: bold;
}

.footer {
  height: 100px;
  background-color: #1f2937;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
